<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
	xml:lang="ko"
	id="workStudy_hj"
	version="1.0.0"
	viewmodes="fullscreen">

	<name><![CDATA[workStudy_hj]]></name>
	<app-name><![CDATA[workStudy_hj]]></app-name>
	<access origin="*"/>
	<content src="index.html"/>
	<icon src=""/>
	<startup>
		<display-orientation>AUTO</display-orientation>
	</startup>

	<user-properties>
	</user-properties>

	<system-properties>
	</system-properties>

	<package-id src="workStudy_hj"/>
	<build-target src="android-11"/>
	<keystore src=""/>
	<keystore-alias src=""/>
	<keystore-password src=""/>
	<keystore-keypass src=""/>
	<bundle-identification src="workStudy_hj"/>
	<codesign-identification src=""/>
	<mobile-provision src=""/>
	<mobile-certification src=""/>
	<device-type src="Phone"/>
	<device-width  src="320" />
	<device-height src="480" />
</widget>